@font-face {
  font-family: 'Poppin-regular';
  src: url('../assets/fonts/Popins-Regular.woff') format('woff');
  font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'Poppin-semibold';
  src: url('../assets/fonts/Popins-SemiBold.woff') format('woff');
  font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'Poppin-bold';
  src: url('../assets/fonts/Popins-Bold.woff') format('woff');
  font-weight: normal;
	font-style: normal;
}