@import './mixins';
@import './fonts';
@import './vars';

// ==== local vars ====

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$screen-xs-max: 575px;
$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;

// ==== / local vars ====

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppin-regular', sans-serif;
  line-height: 1.4;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.section-outer {
  padding-right: 20px;
  padding-left: 20px;
}

.section-inner {
  max-width: 1440px;
  margin: 0 auto;
}

.btn-main {
  @include start-button;

  background-color: #f7941e;
  color: #ffffff;
}

.btn-secondary {
  @include start-button;

  border: 1px solid #f7941e;
  color: #f7941e;
  transition: .2s;

  &:hover {
    background-color: #ffffff;
  }
}

.btn-header {
  @include start-button;

  padding: 8px 30px;
  border: 1px solid $accent-color;
  color: $accent-color;
  transition: .2s;

  &:hover {
    color: #ffffff;
    background-color: $accent-color;
  }
}

.btn-black {
  @include start-button;

  padding: 13px 30px;
  background-color: #000000;
  color: #ffffff;
  transition: .2s;

  &:hover {
    color: $accent-color;
  }
}

.btn-light {
  @include start-button;

  margin-left: 20px;
  padding: 12px 30px;
  border: 1px solid #000000;
  color: #000000;
  transition: .2s;

  &:hover {
    border-color: #ffffff;
    background-color: #fff;
  }
}

.block-description {
  &__title {
    font-size: 32px;
    margin-bottom: 23px;
  }

  &__subtitle {
    font-size: 18px;
    margin-bottom: 80px;
  }
}

// ==== header ====
.section-header__nav {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;

  &-logo {
    color: $accent-color;
    font-family: 'Poppin-semibold', sans-serif;
    white-space: nowrap;
  }
  &-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row nowrap;

    li {
      & + li {
        margin-left: 30px;
      }
    }

    a {
      color: #000000;
      transition: .2s;

      &:hover {
        color: $accent-color;
      }
    }
    
  }

  @media (max-width: $screen-sm-max) {
    flex-flow: column;

    &-logo {
      margin-bottom: 20px;
    }

    &-menu {
      display: none;
    }
  }
}
.section-header-content {
  display: flex;

  .section-header-wrapper-text,
  .section-header-wrapper-foto {
    flex-basis: 50%;
  }

  .section-header-wrapper-text {
    background-color: #f2f2f2;

    &__main-title {
      h1 {
        font-family: 'Poppin-semibold', sans-serif;
        font-size: 56px;
        margin-bottom: 36px;
      }
    }

    &__subtitle,
    &__promotext {
      font-size: 20px;
      margin-bottom: 52px;
    }

    &__title {
      font-size: 32px;
      margin-bottom: 30px;
    }

    
  }

  .section-header-wrapper-foto {
    .foto-top {
      width: 100%;
      background-image: url('../assets/img/Background.jpg');
      background-repeat: no-repeat;
      background-position: center;
    }

    .foto-bottom {
      width: 100%;
      background-image: url('../assets/img/Media.jpg');
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  @media (max-width: $screen-xs-max){
    flex-direction: column;

    .foto-top {
      background-size: contain;
      height: 521px;
    }

    .foto-bottom {
      background-size: contain;
      height: 445px;
    }

    .foto-order{
      order: 1;
    }

    .section-header-wrapper-text {
      text-align: center;
    }
  }

  @media (max-width: $screen-md-max) {
    flex-direction: column;

    .foto-top {
      background-size: cover;
      height: 521px;
    }

    .foto-bottom {
      background-size: cover;
      height: 445px;
    }

    .foto-order{
      order: 1;
    }
  }

  @media (max-width: $screen-lg-max) {
    flex-flow: column nowrap;

    .section-header-wrapper-text {
      padding: 30px;
    }
  }

  @media (min-width: $screen-xl) {
    flex-flow: row wrap;
    
    .foto-top {
      background-size: cover;
      height: 706px;
    }

    .foto-bottom {
      background-size: cover;
      height: 706px;
    }

    .section-header-wrapper-text {
      padding: 120px;
    }
  }
}
// ==== / header ====

// ==== goods ====
.section-goods {
  padding-top: 120px;
  padding-bottom: 120px;

  text-align: center;

  &__card-block {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    text-align: left;

    &-item {
      margin-top: 15px;
      transition: .2s;
      
      img {
        display: block;
      }

      &_description {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 160px;
        background-color: #fafafa;
        padding: 20px;


        .description_title {
          font-size: 20px;
        }

        .description_button {
          font-size: 14px;
          a {
            color: #000000;

            &:hover {
              color: $accent-color;
            }
          }
        }
      }

      &:hover {
        cursor: pointer;
        box-shadow: 10px 10px 15px rgba(0, 0, 0, .25);

        .section-goods__card-block-item_description {
          background-color: #fff;
        }
      }

      @media (min-width: $screen-sm) {
        & {
          margin-left: 15px;
          margin-right: 15px;
        }
      }
    }
  }
}
// ==== / goods ====

// ==== promo ====
.section-promo {
  padding-top: 120px;
  padding-bottom: 120px;

  background-color: $accent-color;

  .section-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    margin: 0 auto;
  }

  &__message {
    &-title {
      font-family: 'Poppin-bold', sans-serif;
      font-size: 32px;
    }
    &-subtitle {
      font-size: 32px;
    }
  }

  &__buttons {
    display: flex;
  }

  @media (max-width: $screen-md-max) {
    .section-inner {
      flex-direction: column;
    }

    &__message {
      margin-bottom: 30px;
    }
  }
}
// ==== / promo ====

// ==== blog ====
.section-blog {
  padding-top: 120px;
  padding-bottom: 120px;

  text-align: center;

  &__promo {
    max-width: 1170px;
    margin: 0 auto;
  }

  &__promo-max {
    display: flex;

    &-description {
      background-color: #231f20;
      text-align: left;
      flex-grow: 1;
      padding-top: 60px;
      padding-bottom: 60px;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .author {
        font-size: 14px;
        margin-bottom: 27px;
      }

      .title {
        font-size: 48px;
      }

      a {
        margin-top: auto;
        color: #ffffff;
        transition: .2s;

        &:hover {
          color: $accent-color;
        }
      }
    }

    @media (max-width: $screen-xs-max) {
      img {
        display: none;
      }

      &-description {
        padding-left: 10px;
        padding-right: 10px;
      }
    }

    @media (max-width: $screen-md-max) {
      flex-direction: column;
      align-items: center;
      border: 1px solid #231f20;

      &-description {
        align-self: normal;
      }
    }

    @media (min-width: $screen-sm) {
      &-description {
        padding-left: 80px;
        padding-right: 80px;
      }
    }
  }

  &__promo-min {
    margin-top: 40px;
    display: flex;

    &-post {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 48px;
      text-align: left;
      transition: .2s;

      &_title {
        font-family: 'Poppin-bold', sans-serif;
        font-size: 24px;
        margin-bottom: 16px;
      }

      &_text {
        font-size: 18px;
        margin-bottom: 36px;
      }

      &_link {
        color: #000000;
        font-size: 14px;
        transition: .2s;

        &:hover {
          color: $accent-color;
        }
      }

      &:hover {
        cursor: pointer;
        box-shadow: 10px 10px 15px rgba(0, 0, 0, .05);
      }
      
    }

    @media (max-width: $screen-sm-max) {
      flex-direction: column;

      &-post {
        & + & {
          margin-top: 30px;
        }
      }
    }

    @media (min-width: $screen-md) {
      &-post {
        & + & {
          margin-left: 30px;
        }
      }
    }
  }
}
// ==== / blog ====

// ==== footer ====
.section-footer {
  padding-top: 120px;
  padding-bottom: 120px;

  background-color: #fafafa;

  &__nav {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppin-bold', sans-serif;
    font-size: 14px;
    margin-bottom: 53px;

    .link {
     
      a {
        color: #000000;
        transition: .2s;

        &:hover {
          color: $accent-color;
        }
      }
    }

    .logo {
      color: $accent-color;
      margin: 0 140px;
      font-size: 20px;
      white-space: nowrap;
    }

    @media (max-width: $screen-sm-max) {
      flex-direction: column;
    }

    @media (min-width: $screen-md) {
      .link {
        & + .link {
          margin-left: 76px;
        }
      }
    }
  }

  hr {
    background-color: #000000;
    height: 1px;
    border: none;
    margin: 0 auto;
    max-width: 1000px;
  }

  &__social {
    display: flex;
    justify-content: center;
    margin-top: 56px;
    margin-bottom: 72px;

    img {

      & + img {
        margin-left: 24px;
      }
    }
  }

  &__copyright {
    font-size: 14px;
    text-align: center;

    span:first-child {
      margin-right: 10px;
    }
  }
}
// ==== / footer ====